<div class='full-page'>
  {{!-- <div class='profile-wrapper full-width'>
    <div class='top-row-wrapper'>
      <div class='top-row-search-bar'>
      </div>
      <div class='top-row-time'>
        <p class='top-row-time-text small-text'>5:50:00AM</p>
        <p class='top-row-time-text small-text'>Monday, April 2, 2018</p>
      </div>
    </div> --}}   
   {{# if success}}


     <form action="/app/accounts/{{email}}" method="get">

       <p>password</p>
       <p class="inputMimic"> success </p>

       <button class="button light-button" type="submit"> back </button>
     </form>


   {{ else if forgotPassword }} <!-- forgot password version -->

    <h1>nothing works here!</h1>
   <form action="/forgot-password/authorized?_method=PUT" method="post">

     <p>password</p>
     <input
      id="password"
      name="password"
      class="userFormItem"
      type="password"
      placeholder=""
      />
     <p class="formErrorReport" id="passwordError"></p>

     <p>confirm password</p>
     <input
      id="confirmPassword"
      name="confirmPassword"
      class="userFormItem"
      type="password"
      placeholder=""
      />
     <p class="formErrorReport" id="confirmPasswordError"></p>
       <button id="formSubmitter" class="button light-button" type="submit"> submit password </button>
    </form>


   {{ else }} <!-- change password from authorized account -->
    <div class ='flex column add-alarm-form'>
     <h3 class="left-text">password reset</h3>
     <form action="/app/accounts/{{email}}/password" method="post">
       <p>old password</p>
       <input
        id="oldPassword"
        name="oldPassword"
        class="big-form-item"
        type="password"
        placeholder=""
        />
       <p class="formErrorReport" id="old-passwordError"></p>

       <p>new -password</p>
       <input
        id="password"
        name="password"
        class="big-form-item"
        type="password"
        placeholder=""
        />
       <p class="formErrorReport" id="passwordError"></p>
       
       <p class="formErrorReport" id="confirmPasswordError"></p>
         <button id="formSubmitter" class="button light-button" type="submit"> change password </button>
      </form>
      </div>
     {{/if}}


   <p class="formErrorReport">{{ dbError }}</p>

 </div>
 {{!-- <script src="/behavior/genericChangeForm.js"></script> --}}
