<div class="column contentWrapper">
  <div class="alarm-row">
    <div class = 'time-wrapper'>
      <form class = 'form-row' action="/app/accounts/{{user_uuid}}/alarms/{{alarm_uuid}}/title" method='get'>
        <input type='submit' class = "alarm-title small-text link-text" value="{{title}}">
        <p class = "small-text centered-text">&#8226</p>
        <p class = "small-text centered-text">{{nextAlarm}}</p>
        <input name="alarm_uuid" type="hidden" value="{{alarm_uuid}}">
        <input name="title" type='hidden' value="{{title}}">
      </form>
      <div class = 'alarm-time-row'>
        <form action = "/app/accounts/{{user_uuid}}/alarms/{{alarm_uuid}}/time" method = 'get'>
          <input type = 'submit' class="alarm-time link-text" value = "{{time}}">
          <input name="alarm_uuid" type="hidden" value="{{alarm_uuid}}">
          <input name = "time" type = 'hidden' value = "{{time}}">
        </form>
        <div class='toggle-active-wrapper'>
          {{#if active}}
          <form action='/app/accounts/{{user_uuid}}/alarms/{{alarm_uuid}}/active?_method=PUT' method='POST'>
            <button type = 'submit' class="button dark-button">disable</button>
            <input name = "alarm_uuid" type = "hidden" value = {{alarm_uuid}}>
            <input name = "active" type = 'hidden' value = {{active}}>
          </form>
          {{else}}
          <form action='/app/accounts/{{user_uuid}}/alarms/{{alarm_uuid}}/active?_method=PUT' method='POST'>
            <button type = 'submit' class="button light-button">enable</button>
            <input name = "alarm_uuid" type = "hidden" value = {{alarm_uuid}}>
            <input name = "active" type = 'hidden' value = {{active}}>
          </form>
          {{/if}}
        </div>
      </div>
    </div>
    
  </div>
  <div class="alarm-row">
    <a href='/app/accounts/{{user_uuid}}/settings'>
      <img class='icon fadeIn' src='/icons/black/gear.svg'>
    </a>
    {{#if repeat}}
    <ul class = "week-list">
      <li class = "day-of-week {{#if mon}}dark-button{{/if}}">mon</li>
      <li class = "day-of-week {{#if tues}}dark-button{{/if}}">tues</li>
      <li class = "day-of-week {{#if wed}}dark-button{{/if}}">wed</li>
      <li class = "day-of-week {{#if thur}}dark-button{{/if}}">thur</li>
      <li class = "day-of-week {{#if fri}}dark-button{{/if}}">fri</li>
      <li class = "day-of-week {{#if sat}}dark-button{{/if}}">sat</li>
      <li class = "day-of-week {{#if sun}}dark-button{{/if}}">sun</li>
      <li class = "day-of-week">
        <form action="/app/accounts/{{user_uuid}}/alarms/{{alarm_uuid}}/days-of-week" method="get">
            <input class = "icon" type="image" src="/icons/black/calendar.svg">
            <input name="title" type="hidden" value="{{ title }}">
            <input name="alarm_uuid" type="hidden" value="{{ alarm_uuid }}">
        </form>
      </li>
    </ul>
    {{else}}
    <ul class = "week-list">
      <li>
        <form action="/app/accounts/{{user_uuid}}/alarms/{{alarm_uuid}}/days-of-week" method="PUT">
            <input class = "button light-button" type="submit" value="repeat">
            <input name= "repeat" type="hidden" value="{{ repeat }}">
            <input name= "alarm_uuid" type="hidden" value="{{ alarm_uuid }}">
        </form>
      </li>
    </ul>
    {{/if}}
    <form action="/app/accounts/{{user_uuid}}/alarms/{{alarm_uuid}}?_method=DELETE" method="POST">
        <input class = "icon" type="image" width="20px" height="20px" src="/icons/black/x.svg">
        <input name="alarm_uuid" type="hidden" value="{{ alarm_uuid }}">
    </form>
  </div>
  {{!-- <div class = "alarm-row">
    <p>alarm management</p>
    <form action = "/app/accounts/{{user_uuid}}/alarms/{{alarm_uuid}}/snooze" method = "POST">
      <input class="button dark-button" type = 'submit' value = 'snooze'>
      <input name="alarm_uuid" type="hidden" value="{{ alarm_uuid }}">
      <input name="snooze_tally" type="hidden" value="{{ snooze_tally }}">
    </form>
    <form action="/app/accounts/{{user_uuid}}/alarms/{{alarm_uuid}}/dismiss" method="POST">
      <input class="button dark-button" type='submit' value='dismiss'>
      <input name="alarm_uuid" type="hidden" value="{{ alarm_uuid }}">
    </form>
    <form action="/app/accounts/{{user_uuid}}/alarms/{{alarm_uuid}}/wake" method="POST">
      <input class="button dark-button" type='submit' value='wake'>
      <input name="alarm_uuid" type="hidden" value="{{ alarm_uuid }}">
    </form>
  </div> --}}
  <p class="noMarginsPassing preInputMimic">{{ message }}</p>
  <p class="formErrorReport">{{ dbError }}</p>
  <h1>
    {{ message }}
  </h1>
</div>
