<div class="column contentWrapper">
  <div class="alarm-row">
    <div class = 'time-wrapper'>
      <form action="/app/accounts/{{user_uuid}}/alarms/{{alarm_uuid}}/title" method='get'>
        <input type='submit' class = "alarm-title small-text link-text" value="{{title}}">
        <input name="alarm_uuid" type="hidden" value="{{alarm_uuid}}">
        <input name="title" type='hidden' value="{{title}}">
      </form>
      <div class = 'alarm-time-row'>
        <form action = "/app/accounts/{{user_uuid}}/alarms/{{alarm_uuid}}/time" method = 'get'>
          <input type = 'submit' class="alarm-time link-text" value = "{{time}}">
          <input name="alarm_uuid" type="hidden" value="{{alarm_uuid}}">
          <input name = "time" type = 'hidden' value = "{{time}}">
        </form>
        <div class='toggle-active-wrapper'>
          {{#if active}}
          <form action='/app/accounts/{{user_uuid}}/alarms/{{alarm_uuid}}/active?_method=PUT' method='POST'>
            <button type = 'submit' class="button light-button">disable</button>
            <input name = "alarm_uuid" type = "hidden" value = {{alarm_uuid}}>
            <input name = "active" type = 'hidden' value = {{active}}>
          </form>
          {{else}}
          <form action='/app/accounts/{{user_uuid}}/alarms/{{alarm_uuid}}/active?_method=PUT' method='POST'>
            <button type = 'submit' class="button dark-button">enable</button>
            <input name = "alarm_uuid" type = "hidden" value = {{alarm_uuid}}>
            <input name = "active" type = 'hidden' value = {{active}}>
          </form>
          {{/if}}
        </div>
      </div>
    </div>
    
  </div>
  <div class="alarm-row">
    <a class='link-img' href ="">
      <img class='icon fadeIn' src='/icons/black/gear.svg'>
    </a>
    <ul class = "week-list">
      <li class = "day-of-week {{#if mon}}dark-button{{/if}}">mon</li>
      <li class = "day-of-week {{#if tues}}dark-button{{/if}}">tues</li>
      <li class = "day-of-week {{#if wed}}dark-button{{/if}}">wed</li>
      <li class = "day-of-week {{#if thur}}dark-button{{/if}}">thur</li>
      <li class = "day-of-week {{#if fri}}dark-button{{/if}}">fri</li>
      <li class = "day-of-week {{#if sat}}dark-button{{/if}}">sat</li>
      <li class = "day-of-week {{#if sun}}dark-button{{/if}}">sun</li>
      <li class = "day-of-week">
        <form action="/app/accounts/{{user_uuid}}/alarms/{{alarm_uuid}}/days-of-week" method="get">
            <input class = "icon" type="image" src="/icons/black/calendar.svg">
            <input name="title" type="hidden" value="{{ title }}">
            <input name="alarm_uuid" type="hidden" value="{{ alarm_uuid }}">
        </form>
      </li>
    </ul>
    <form action="/app/accounts/{{user_uuid}}/alarms/{{alarm_uuid}}?_method=DELETE" method="post">
        <input class = "icon" type="image" width="20px" height="20px" src="/icons/black/x.svg">
        <input name="alarm_uuid" type="hidden" value="{{ alarm_uuid }}">
    </form>
  </div>
  {{!-- <div class="alarm-row">
    <form class = 'flex center' action="/accounts/{{user_uuid}}/alarms/{{title}}/snooze" method="post">
      <button class="yes med-margin" type="submit">snooze</button>
      <input name="alarm_uuid" type="hidden" value="{{ alarm_uuid }}">
    </form>
    <form action="/accounts/{{user_uuid}}/alarms/{{title}}/dismiss" method="post">
      <button class="no med-margin" type="submit">dismiss</button>
      <input name="alarm_uuid" type="hidden" value="{{ alarm_uuid }}">
    </form>
    <form action='/accounts/{{user_uuid}}/alarms/{{title}}/wake' method='post'>
      <button type='submit' class='no med-margin'>wake</button>
      <input name="alarm_uuid" type="hidden" value="{{ alarm_uuid }}">
    </form>
   
  </div> --}}
  <p class="noMarginsPassing preInputMimic">{{ message }}</p>
  <p class="formErrorReport">{{ dbError }}</p>
  <h1>
    {{ message }}
  </h1>
</div>

{{!-- <div class="column categoryWrapper">
  <div class="row categoryTitle">
    <h4>{{title}}</h4>
    <div class="time-wrapper flex space-around ">
      <p class="self right awakeTime">
        {{time}}
      </p>
      <img class = "icon" src="https://png.icons8.com/ios/540/alarm-clock.png" />
    </div>
  </div>
  <div class="box subCategoryWrapper none">
    <div class="row subCategoryTitle">
      <form action="/accounts/{{user_uuid}}/alarms" method="get">
          <input type="image" width="20px" height="20px" src="https://maxcdn.icons8.com/Share/icon/Media_Controls//high_volume1600.png">
      </form>
      {{#if active}}
        <p>
          on
        </p>
      {{else}}
        <p>
          off
        </p>
      {{/if}}
      {{#if permission}}
      <h1>A.V.</h1>
      <form action="/admin/accounts/:{{user_uuid}}/alarms/:{{alarm_uuid}}" method="get">
          <input type="image" width="20px" height="20px" src="https://maxcdn.icons8.com/Share/icon/p1em/Editing//edit1600.png">
          <input name="alarm_uuid" type="hidden" value="{{ alarm_uuid }}">
          <input name="user_uuid" type="hidden" value="{{ user_uuid }}">
      </form>
      <form action="/admin/accounts/:{{user_uuid}}/alarms/:{{alarm_uuid}}?_method=DELETE" method="post">
          <input type="image" width="20px" height="20px" src="https://www.pngarts.com/files/1/X-Shape-PNG-High-Quality-Image.png">
          <input name="alarm_uuid" type="hidden" value="{{ alarm_uuid }}">
          <input name="user_uuid" type="hidden" value="{{ user_uuid }}">
      </form>
      {{else}}
      <form action="/accounts/{{user_uuid}}/alarms/{{title}}" method="get">
          <input type="image" width="20px" height="20px" src="https://maxcdn.icons8.com/Share/icon/p1em/Editing//edit1600.png">
          <input name="title" type="hidden" value="{{ title }}">
      </form>
      <form action="/accounts/{{user_uuid}}/alarms/{{title}}?_method=DELETE" method="post">
          <input type="image" width="20px" height="20px" src="https://www.pngarts.com/files/1/X-Shape-PNG-High-Quality-Image.png">
          <input name="title" type="hidden" value="{{ title }}">
      </form>
      {{/if}}

    </div>
    <div class="row date-created">
      <p class="thedate">
        {{thedate}}
      </p>
    </div>
  </div>
  <div class="flex space-around med-margin">
    <h1>
      {{ message }}
    </h1>
    <form class = 'flex center' action="/accounts/{{user_uuid}}/alarms/{{title}}/snooze" method="post">
      <button class="yes med-margin" type="submit">snooze</button>
      <input name="alarm_uuid" type="hidden" value="{{ alarm_uuid }}">
    </form>
    <form action="/accounts/{{user_uuid}}/alarms/{{title}}/dismiss" method="post">
      <button class="no med-margin" type="submit">dismiss</button>
      <input name="alarm_uuid" type="hidden" value="{{ alarm_uuid }}">
    </form>
    <form action='/accounts/{{user_uuid}}/alarms/{{title}}/wake' method='post'>
      <button type='submit' class='no med-margin'>wake</button>
      <input name="alarm_uuid" type="hidden" value="{{ alarm_uuid }}">
    </form>


    <p class="noMarginsPassing preInputMimic">{{ message }}</p>
    <p class="formErrorReport">{{ dbError }}</p>
  </div>
</div> --}}
