<div>
    <h1>date: {{date}}</h1>
    <p>min temp: {{min}}</p>
    <p>max temp: {{max}}</p>
    <p>weather: {{weather}}</p>
    <p></p>
    <p></p>
</div>

<script>
    console.log({{{forecast}}})
</script>