<div class="column contentWrapper">
  <div class="alarm-row">
    <h4 class = "alarm-title">{{name}}</h4>
    <div class="card-number-wrapper">
      <p>{{card_number}}</p>
      <img class = "icon one-item-spacing " src="https://d30y9cdsu7xlg0.cloudfront.net/png/29661-200.png" />
    </div>
  </div>
  <div class="box subCategoryWrapper none">
    <div class="alarm-row">
      {{#if active}}
        <p>
          active card
        </p>
      {{else}}
        <p>
          currently inactive
        </p>
        <form action="/app/accounts/{{user_uuid}}/payment/active-payment?_method=PUT" method="post">
          <input type="hidden" name="card_number" value={{card_number}} />
          <button class="yes" type="submit">activate</button>
        </form>
      {{/if}}
      <form action="/app/accounts/{{user_uuid}}/payment/{{card_number}}" method="get">
          <input class = "icon" type="image" src="https://maxcdn.icons8.com/Share/icon/p1em/Editing//edit1600.png">
          <input name="card_number" type="hidden" value="{{ card_number }}">
      </form>
      <form action="/app/accounts/{{user_uuid}}/payment/{{card_number}}?_method=DELETE" method="post">
          <input class = "icon" type="image" src="https://www.pngarts.com/files/1/X-Shape-PNG-High-Quality-Image.png">
          <input name="card_number" type="hidden" value="{{ card_number }}">
      </form>
    </div>
  </div>
</div>
