<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>FORM APP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="/stylesheets/styles.css" />
    <script src = '/bundle.js'></script>
    <script>
        a.store.dispatch(a.populate({{{ stringUser }}}))
    </script>

    {{!-- <form action='/push-test' method='POST'>
        <button>send test notification</button>
    </form> --}}

    <script>
        function askPermission() {
            return new Promise(function (resolve, reject) {
                const permissionResult = Notification.requestPermission(function (result) {
                    resolve(result);
                });

                if (permissionResult) {
                    permissionResult.then(resolve, reject);
                }
            })
                .then(function (permissionResult) {
                    if (permissionResult !== 'granted') {
                        throw new Error('We weren\'t granted permission.');
                    }
                });
        }

        function urlBase64ToUint8Array(base64String) {
            const padding = '='.repeat((4 - base64String.length % 4) % 4);
            const base64 = (base64String + padding)
                .replace(/\-/g, '+')
                .replace(/_/g, '/');

            const rawData = window.atob(base64);
            const outputArray = new Uint8Array(rawData.length);

            for (let i = 0; i < rawData.length; ++i) {
                outputArray[i] = rawData.charCodeAt(i);
            }
            return outputArray;
        }



        function subscribeUserToPush() {
            return navigator.serviceWorker.register('/doWork.js')
                .then(function (registration) {
                    const subscribeOptions = {
                        userVisibleOnly: true,
                        applicationServerKey: urlBase64ToUint8Array(
                            'BEl62iUYgUivxIkv69yViEuiBIa-Ib9-SkvMeAtA3LFgDzkrxZJjSgSnfckjBJuBkr3qBUYIHBQFLXYp5Nksh8U'
                        )
                    };

                    return registration.pushManager.subscribe(subscribeOptions);
                })
                .then(function (pushSubscription) {
                    return sendSubscriptionToBackEnd(pushSubscription)
                })

        }

        function sendSubscriptionToBackEnd(subscription) {
            return fetch('/subscribe', {
                method: 'POST',
                headers: {
                    "Content-Type": "application/json",
                    "Accept": "application/json"
                },
                body: JSON.stringify(subscription)
            })
                .then(function (response) {
                    if (!response.ok) {
                        console.log(response)
                        throw new Error('Bad status code from server.', response);
                    }

                    return response.json();
                })
                .then(function (responseData) {
                    if (!(responseData.data && responseData.data.success)) {
                        console.log(responseData)
                        throw new Error('Bad response from server.');
                    }
                })
                .catch(e => console.log(e))
        }

        askPermission()
        subscribeUserToPush()


    </script>

</head>

<body>
    <div id='app'>
        <div class='app-wrapper'>
            <ul class="app-menu">
                <a href = '/'>
                    <div class='app-menu-title-wrapper'>
                        <img class='formIcon fadeIn' src='/icons/logo-placeholder.svg' />
                        <h1 class='app-menu-title'>s.y.l.</h1>
                    </div>
                </a>
                <li class='app-menu-li'>
                    <img class='formIcon fadeIn' src='/icons/white/clock-alarm.svg' />
                    {{#if loggedIn}}
                    <a href="/app/accounts/{{email}}/alarms" class='app-menu-text'>alarms</a>
                    {{else}}
                    <a href="/app/guest/alarms" class='app-menu-text'>alarms</a>
                    {{/if}}
                </li>

                <li class='app-menu-li'>
                    <img class='formIcon fadeIn' src='/icons/white/squares.svg' />
                    {{#if loggedIn}}
                    <a href="/app/accounts/{{email}}/orgs" class='app-menu-text '>organizations</a>
                    {{else}}
                    <a href="/app/orgs/all" class='app-menu-text '>organizations</a>
                    {{/if}}
                </li>
    
                {{!-- <li class='app-menu-li'>
                    <img class='formIcon fadeIn' src='/icons/white/graph-bar.svg' />
                    {{#if loggedIn}}
                    <a href="/app/accounts/{{email}}/insights" class='app-menu-text'>insights</a>
                    {{else}}
                    <a href="/app/guest/insights" class='app-menu-text-disabled disabled-a'>insights</a>
                    {{/if}}
                </li> --}}
    
                <li class='app-menu-li'>
                    <img class='formIcon fadeIn' src='/icons/white/user-fem.svg' />
                    {{#if loggedIn}}
                    <a href="/app/accounts/{{email}}" class='app-menu-text'>profile</a>
                    {{else}}
                    <a class='app-menu-text-disabled disabled-a'>profile</a>
                    {{/if}}
                </li>
                <li class='app-menu-li'>
                    <img class='formIcon fadeIn' src='/icons/white/mixer.svg' />
                    {{#if loggedIn}}
                    <a href="/app/accounts/{{email}}/settings" class='app-menu-text'>settings</a>
                    {{else}}
                    <a class='app-menu-text-disabled disabled-a'>settings</a>
                    {{/if}}
                </li>
                {{#if loggedIn}}                
                {{else}}
                <li class='app-menu-li'>
                    <img class='formIcon fadeIn' src='/icons/white/heart.svg' />
                    <form action="/to-login" method="get">
                        <button type="submit" class="app-menu-text">log in</button>
                    </form>
                </li>
                {{/if}}
                {{#if loggedIn}}
                <li class='app-menu-li' id='logout'>
                    <img class='formIcon fadeIn' src='/icons/white/back-1.svg' />
                    <form action="/log-out" method="post">
                       
                        <button type="submit" class="app-menu-text">logout</button>

                        
                    </form>
                </li>
                {{/if}}
                <li>
                    <p> You're a {{permission}}.</p>
                </li>
            </ul>
            {{{body}}}
        </div>
    </div>
</body>
    {{!-- <script>
        a.app()
    </script> --}}
</html>