<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>SNOOZE YOU LOSE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <script src = '/bundle.js'></script>
    <script>
        a.store.dispatch(a.populate({{{ stringUser }}}))
        a.app()
    </script>
</head>
<body>
<div id='login'>
    {{#if home}}
    <div class="home-img-wrapper">
    {{else}}
    <div class="login-img-wrapper">
    {{/if}}
        <div class="home-navigation-bar">
            <div class="home-title-wrapper">
                <div class="home-logo-wrapper">
                    <a class = 'a' href="/">
                        <img class="home-icon fadeIn" src="/icons/logo-placeholder.svg" />
                    </a>
                </div>
                <div class="home-title-text-wrapper">
                    <h1 class="home-title">snooze you lose</h1>
                    <h4 class="home-subtitle">Or how sleeping in can hurt your bottom line.</h4>
                    <p> You're a {{permission}}.</p>
                </div>
            </div>
            <div class="home-navigation-wrapper">
                <ul class="home-navigation-list">
                    {{!-- <a href="#features-section">
                        <li class="home-navigation-item">features</li>
                    </a>
                    <a href="#about-section">
                        <li class="home-navigation-item">about</li>
                    </a>
                    <a href="/dummy-route">
                        <li class="home-navigation-item">pricing</li>
                    </a> --}}
                    {{#if loggedIn}}
                    <form action='/log-out' method="POST">
                        <input class="home-navigation-item" type="submit" value="log out">
                    </form>
                    {{else}}
                    <a href="/to-login">
                        <li class="home-navigation-item">log in</li>
                    </a>
                    {{/if}}
                    <li class="home-navigation-item">
                        {{#if loggedIn}}
                        <a href="/app">
                            <button class="home-to-alarm">alarm clock</button>
                        </a>
                        {{else}}
                        <a href="/new-account">
                            <button class="home-create-account">create account</button>
                        </a>
                        {{/if}}
                    </li>
                </ul>
            </div>
        </div>
        {{{ body }}}       
        {{#if loggedIn}} {{else}}
        <div class="home-tryit-wrapper">
            <a href="/app">
                <button class="home-try">try it</button>
            </a>
            <img class="icon" src="/icons/white/forward-1.svg" />
        </div>
        {{/if}}
    </div>
    {{!-- <div class="home-try-alarm-wrapper" id="features-section">
        <h1>Add Alarm trial</h1>
    </div> --}}
    {{!-- <div class="home-about-wrapper" id="about-section">
        <h1>About section</h1>
        <div class="home-about-wrapper-center">
            <div class="home-about-wrapper-square"></div>
            <div class="home-about-wrapper-square"></div>
            <div class="home-about-wrapper-square"></div>
            <div class="home-about-wrapper-square"></div>
        </div>
    </div>
    <div class="home-footer-wrapper">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
        <div class="home-footer-icon-wrapper">
            <img class="icon" src="/icons/white/forward-1.svg" />
            <img class="icon" src="/icons/white/forward-1.svg" />
            <img class="icon" src="/icons/white/forward-1.svg" />
            <img class="icon" src="/icons/white/forward-1.svg" />
        </div>
    </div> --}}
</div>
</div>
{{!--<script src='./rollup/bundle.js'></script> --}}
</body>

</html>