<div class="app-content">    
    <div class = 'top-row-wrapper'>
        <div class = 'top-row-search-bar'>
            <div class = 'search-wrapper'>
                <img class = 'icon-mini' src = '/icons/black/magnifying.svg'>
                <input type = 'text'>
            </div>
            <ul class = "org-filter-list">
                {{#if loggedIn}}
                <a class='a' href='/app/accounts/{{email}}/orgs'>
                  <li class="org-filter-text">current</li>
                </a>
                {{/if}}
                {{!-- <li class = "org-filter-text">saved</li>
                <li class = "org-filter-text">explore</li> --}}
                <a class = 'a' href = '/app/orgs/all'>
                  <li class="org-filter-text">all</li>
                </a>
                
            </ul>
        </div>
        {{!-- <div class = 'top-row-time'>
            <p class = 'top-row-time-text small-text'>5:50:00AM</p>
            <p class = 'top-row-time-text small-text'>Monday, April 2, 2018</p>
        </div> --}}
    </div>
    <div class="column searchWrapper">
        <div class="column contentWrapper">
            <h4 class = 'organization-subtitle'>currently donating to:</h4>
            <div class="alarm-row">
                {{#if activeOrgContent.defaultSet}}
                <div class="flex column" id='{{activeOrgContent.frontEndID}}'>
                  <div class="flex product-name-price-wrapper">
                    <h3 class="org-titles">{{ activeOrgContent.name }}</h3>
                    <p class="small-text ">{{ activeOrgContent.cause }}</p>
                  </div>
                
                  <div class="org-img-description-wrapper">
                    <div class="org-description">
                      <p class="small-text">{{ activeOrgContent.description }}</p>
                      <div class="org-action-wrapper">
                        <a class='a' href="{{activeOrgContent.link}}">
                          <img class='icon-mini' src='/icons/black/link.svg'>
                        </a>
                        <a class='a' href="{{activeOrgContent.link}}">
                          <img class='icon-mini' src='/icons/black/share.svg'>
                        </a>
                        <form action="/app/accounts/{{email}}/orgs/{{activeOrgContent.org_uuid}}/remove-default?_method=PUT" method="post">
                          <input type="hidden" name="org_uuid" value="{{ activeOrgContent.org_uuid }}" />
                          <button class='button dark-button'>remove default</button>
                        </form>
                      </div>
                    </div>
                    <div class='org-img-wrapper'>
                      <img class = 'org-img' src="/product-pictures/{{ activeOrgContent.img }}.jpg" />
                    </div>
                  </div>
                  <div class="mob-org-img-description-wrapper">
                    <div class="org-description">
                      <p class="small-text">{{ activeOrgContent.description }}</p>
                      <div class="org-action-wrapper">
                        <a class='a' href="{{activeOrgContent.link}}">
                          <img class='icon-mini' src='/icons/black/link.svg'>
                        </a>
                        <a class='a' href="{{activeOrgContent.link}}">
                          <img class='icon-mini' src='/icons/black/share.svg'>
                        </a>
                        <form action="/app/accounts/{{email}}/orgs/{{activeOrgContent.org_uuid}}/remove-default?_method=PUT" method="post">
                          <input type="hidden" name="org_uuid" value="{{ activeOrgContent.org_uuid }}" />
                          <button class='button dark-button'>remove default</button>
                        </form>
                      </div>
                    </div>
                    <div class='org-img-wrapper'>
                      <img class='org-img' src="/product-pictures/{{ activeOrgContent.img }}.jpg" />
                    </div>
                  </div>
                </div>
                {{else}}
                <div class='boxBorder padding'>
                  <h4>
                    Not currently donating to any org.
                  </h4>
                  <p class='button-titles'>
                    Add an organization from your saved orgs below or go to the organization area from the home menu.
                  </p>
                </div>
                {{/if}}
            </div>
            {{!-- <h4 class = 'organization-subtitle'>saved organizations</h4>
            <div class="alarm-row">
                 {{#each organizationContent}} {{> my-organizationsdiv}} {{/each}}
            </div> --}}
            <h4 class='organization-subtitle'>saved organizations:</h4>
            <div class="categoryListWrapper">
                {{#each organizationContent}} {{> organizationsdiv}} {{/each}}
            </div>
        </div>
        <p class="formErrorReport">{{ error }}</p>
    </div>    
    <p class="formErrorReport">{{ dbError }}</p>
</div>
{{!-- <script src='../rollup/bundle.js'></script> --}}

