<div class=' column centerColumn full-width'>

    <form action='/app/accounts/{{user_uuid}}/alarms/{{alarm_uuid}}/title?_method=PUT' method='POST'>
        <p class='left-text'>change title</p>
        <input type='text' class='big-form-item' name='title' value='{{title}}'>
        <button type='submit' class='button dark-button' value="{{title}}">submit</button>
        <input type='hidden' name='alarm_uuid' value={{alarm_uuid}}>
    </form>
</div>