<div class="full-page">
<div class = "flex column add-alarm-form">
    <p class='left-text'>schedule active days</p>
    <form action = "/app/accounts/{{email}}/alarms/{{title}}/days-of-week?_method=PUT" method="POST">
            <h2 class='left-text day-title'>mon</h2>
            <div class="days-radio-wrapper">
                <h6>on</h6>
                {{#if mon}}
                <input type = "radio" name = "mon" value="true" checked="checked">
                <h6>off</h6>
                <input type="radio" name="mon" value="false">
                {{else}}
                <input type="radio" name="mon" value="true">
                <h6>off</h6>
                <input type="radio" name="mon" value="false" checked="checked">
                {{/if}}
            </div>
            <h2 class='left-text day-title'>tues</h2>
            <div class="days-radio-wrapper">
                {{#if tues}}
                <h6>on</h6>
                <input type = "radio" name = "tues" value="true" checked="checked">
                <h6>off</h6>
                <input type="radio" name="tues" value="false">
                {{else}}
                <h6>on</h6>
                <input type = "radio" name = "tues" value="true">
                <h6>off</h6>
                <input type="radio" name="tues" value="false" checked="checked">
                {{/if}}
            </div>
            <h2 class='left-text day-title'>wed</h2>
            <div class="days-radio-wrapper">
                {{#if wed}}
                <h6>on</h6>
                <input type = "radio" name = "wed" value="true" checked = "checked">
                <h6>off</h6>
                <input type="radio" name="wed" value="false">
                {{else}}
                <h6>on</h6>
                <input type="radio" name="wed" value="true">
                <h6>off</h6>
                <input type="radio" name="wed" value="false" checked = "checked">
                {{/if}}
            </div>
            <h2 class='left-text day-title'>thur</h2>
            <div class="days-radio-wrapper">
                {{#if thur}}
                <h6>on</h6>
                <input type = "radio" name = "thur" value="true" checked = "checked">
                <h6>off</h6>
                <input type="radio" name="thur" value="false">
                {{else}}
                <h6>on</h6>
                <input type = "radio" name = "thur" value="true">
                <h6>off</h6>
                <input type="radio" name="thur" value="false" checked = "checked">
                {{/if}}
            </div>
            <h2 class='left-text day-title'>fri</h2>
            <div class="days-radio-wrapper">
                {{#if fri}}
                <h6>on</h6>
                <input type="radio" name="fri" value="true"checked="checked">
                <h6>off</h6>
                <input type="radio" name="fri" value="false">
                {{else}}
                <h6>on</h6>
                <input type="radio" name="fri" value="true">
                <h6>off</h6>
                <input type="radio" name="fri" value="false"checked="checked">
                {{/if}}
            </div>
            <h2 class='left-text day-title'>sat</h2>
            <div class="days-radio-wrapper">
                {{#if sat}}
                <h6>on</h6>
                <input type="radio" name="sat" value="true"checked="checked">
                <h6>off</h6>
                <input type="radio" name="sat" value="false">
                {{else}}
                <h6>on</h6>
                <input type="radio" name="sat" value="true">
                <h6>off</h6>
                <input type="radio" name="sat" value="false"checked="checked">
                {{/if}}
            </div>
            <h2 class='left-text day-title'>sun</h2>
            <div class="days-radio-wrapper">
                {{#if sun}}
                <h6>on</h6>
                <input type = "radio" name = "sun" value="true" checked="checked">
                <h6>off</h6>
                <input type="radio" name="sun" value="false">
                {{else}}
                <h6>on</h6>
                <input type="radio" name="sun" value="true">
                <h6>off</h6>
                <input type="radio" name="sun" value="false" checked="checked">
                {{/if}}
            </div>
        <button type = 'submit' class = "button dark-button">update active days</button>
        <input name="title" type="hidden" value="{{ title }}">
        <input name="alarm_uuid" type="hidden" value="{{ alarm_uuid }}">
    </form>
</div>
</div>